<app-home></app-home>
<div [ngStyle]="{'display':'flex', 'justify-content': 'center'}">
    <p-toast></p-toast>
    <p-table #dt [value]="avisos" [scrollable]="true" scrollHeight="70vh" [filterDelay]="0"
        [globalFilterFields]="['titulo', 'subtitulo', 'grupo']" selectionMode="single" [(selection)]="avisoSelecionado"
        (onRowSelect)="onRowSelect($event)" dataKey="id">
        <ng-template pTemplate="caption">

            <div class="container">
                <div class="left-side">
                    <label for="inputField" style="margin-right: 20vw;">Artigos</label>
                    <span class="p-input-icon-left ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" [(ngModel)]="filtroGlobal" (input)="applyGlobalFilter($event)"
                            placeholder="Procurar" [ngStyle]="{'width':'80%'}">
                    </span>
                </div>
                <div class="right-side">
                    <p-button icon="pi pi-plus" severity="success" (onClick)="novoAviso()"></p-button>
                    <!-- <p-button icon="pi pi-plus" severity="success" (onClick)="migrateData()"></p-button> -->
                    <p-button (onClick)="atualizarAviso()" [style]="{'margin-left': '10px', 'margin-right': '10px'}"
                        icon="pi pi-pencil" severity="info"></p-button>
                    <p-button icon="pi pi-trash" severity="danger"></p-button>
                </div>
            </div>

        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="titulo">Título</th>
                <th pSortableColumn="subtitulo">Subtítulo</th>
                <th pSortableColumn="grupo">Grupo</th>
                <th pSortableColumn="data">Data</th>
                <th pSortableColumn="dtInclusao">Inclusão</th>
            </tr>
        </ng-template>
        <ng-template let-aviso pTemplate="body" let-rowIndex="rowIndex">
            <tr [pSelectableRow]="aviso" [pSelectableRowIndex]="rowIndex">

                <td style="width:40vw">{{ aviso.titulo }}</td>
                <td style="width:25vw">{{ aviso.subtitulo }}</td>
                <td style="width:25vw">{{ aviso.grupo }}</td>
                <td style="width:25vw">{{ aviso.data | date: 'dd/MM/yyyy' }}</td>
                <td style="width:25vw">{{ aviso.dtInclusao | date: 'dd/MM/yyyy' }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog header="Artigo para o APP" [modal]="true" [(visible)]="mostrarDialog"
    [style]="{ 'width': '60vw', 'height':'70vw' }">
    <!-- <form [formGroup]="avisoForm"> -->
    <div class="p-grid p-fluid">
        <div class="p-col-12" style="padding-bottom: 35px;padding-top: 20px;">
            <span class="p-float-label">
                <input pInputText id="titulo" type="text" [(ngModel)]="avisoSelecionado.titulo" required="true">
                <label for="titulo">Título</label>
            </span>
        </div>
        <div class="p-col-12" style="padding-bottom: 35px;">
            <span class="p-float-label">
                <input pInputText id="subtitulo" type="text" [(ngModel)]="avisoSelecionado.subtitulo" required="true">
                <label for="subtitulo">Subtítulo</label>
            </span>
        </div>
        <div class="container">
            <div class="p-col-5" style="padding-bottom: 35px;">
                <span class="p-float-label">
                    <p-calendar id="data" [(ngModel)]="avisoSelecionado.data" dateFormat="dd/mm/yy"></p-calendar>
                    <label for="data">Informe a data</label>
                </span>
            </div>
            <div class="p-col-5" style="padding-bottom: 35px;">
                <span class="p-float-label">
                    <p-calendar id="dtLimiteExibicao" [(ngModel)]="avisoSelecionado.dtLimiteExibicao"
                        dateFormat="dd/mm/yy"></p-calendar>
                    <label for="dtLimiteExibicao">Data Limite de Exibição</label>
                </span>
            </div>
            <div class="p-col-5" style="padding-bottom: 35px;">
                <!-- <span class="p-float-label"> -->
                <label for="ativo">Grupo</label>

                <p-dropdown id="grupo" [options]="grupos" [(ngModel)]="selectedGrupo" optionLabel="titulo"
                    [showClear]="true" placeholder="Selecione o grupo" (onChange)="onChange($event)"></p-dropdown>

                <!-- </span> -->
            </div>
            <div class="p-col-2" style="padding-bottom: 35px;">
                <!-- <span class="p-float-label"> -->
                <label for="ativo">Ativo</label>
                <p-inputSwitch id="ativo" label="Remember Me" [(ngModel)]="avisoSelecionado.ativo"></p-inputSwitch>

                <!-- </span> -->
            </div>

        </div>
        <div class="p-col-12" style="padding-bottom: 35px;">
            <span class="p-float-label">
                <textarea pInputTextarea rows="8" id="conteudo" [(ngModel)]="avisoSelecionado.conteudo"
                    required="true"></textarea>
                <label for="conteudo">Conteúdo</label>
            </span>
        </div>
        <div class="info">
            <label for="upload" style="padding-left: 10px;"> Escolha uma imagem para o artigo</label>
            <input pInputText id="upload" type="file" (change)="onFileSelected($event)" accept="image/*">
        </div>

        <div #divImage *ngIf="avisoSelecionado.imagem != ''">
            <img src={{avisoSelecionado.imagem}} alt="Imagem do artigo">
        </div>

    </div>
    <p-footer>
        <div style="display: flex; justify-content: space-between;">
            <p-button type="button" label="Cancelar" (click)="fecharDialog()" severity="secondary"></p-button>
            <p-button type="button" label="Salvar" (click)="salvar()" severity="success"></p-button>
        </div>
    </p-footer>
    <!-- <p-button label="Salvar" (click)="salvar()" /> -->
</p-dialog>