.centerlogin {
    position: absolute;
    top: 30%;
    left: 40%;
    margin-top: -50px;
    margin-left: -50px;
    width: 20vw;
    height: 380px;
}

.inputlogin {
    width: 98%;
}

.spanspace {
    scroll-padding-bottom: 20px;
}