<div [ngClass]="'centerlogin'" [ngStyle]="{'height':'60vh'}">
    <p-toast></p-toast>
    <p-panel [style]="{ 
        width: '40vw',  
        height:'40vh',
        fontSize: '20px',  
        border: '2px solid black',  
        borderRadius: '9px' 
    }" header="Login">
        <span class="p-float-label">
            <input pInputText id="username" [(ngModel)]="username" [ngClass]="'inputlogin'" />
            <label htmlFor="username">Usuario</label>
        </span>
        <span class="p-float-label" style="margin-top: 40px;">
            <p-password id="username" [(ngModel)]="password" [ngClass]="'inputlogin'" [toggleMask]="true"></p-password>
            <label htmlFor="username">Senha</label>
        </span>
        <ng-template pTemplate="footer">
            <div style="display: flex; justify-content: center; align-items: center;">

                <p-button label="Entrar" (click)="login()" class="p-button-success">
                </p-button>
            </div>
        </ng-template>
    </p-panel>
</div>